In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
df.head()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2017,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
1,2018,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF27,27
2,2017,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Never,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF28,28
3,2016,GU,Guam,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,150BEH,177SCU,1GEN,8AGE,4RAC,6EDU,BRF69,69
4,2014,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22

In [2]:
df.columns

Index(['YEAR', 'LocationAbbr', 'LocationDesc', 'TopicType', 'TopicDesc',
       'MeasureDesc', 'DataSource', 'Response', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Data_Value_Std_Err', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Sample_Size', 'Gender', 'Race', 'Age',
       'Education', 'GeoLocation', 'TopicTypeId', 'TopicId', 'MeasureId',
       'StratificationID1', 'StratificationID2', 'StratificationID3',
       'StratificationID4', 'SubMeasureID', 'DisplayOrder'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43341 entries, 0 to 43340
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YEAR                        43341 non-null  object
 1   LocationAbbr                43341 non-null  object
 2   LocationDesc                43341 non-null  object
 3   TopicType                   43341 non-null  object
 4   TopicDesc                   43341 non-null  object
 5   MeasureDesc                 43341 non-null  object
 6   DataSource                  43341 non-null  object
 7   Response                    15018 non-null  object
 8   Data_Value_Unit             43341 non-null  object
 9   Data_Value_Type             43341 non-null  object
 10  Data_Value                  41224 non-null  float64
 11  Data_Value_Footnote_Symbol  2117 non-null   object
 12  Data_Value_Footnote         2117 non-null   object
 13  Data_Value_Std_Err          41146 non-null  float64
 14  Low_Confidence_Limit        41146 non-null  float64
 15  High_Confidence_Limit       41146 non-null  float64
 16  Sample_Size                 41146 non-null  float64
 17  Gender                      43341 non-null  object
 18  Race                        43341 non-null  object
 19  Age                         43341 non-null  object
 20  Education                   43341 non-null  object
 21  GeoLocation                 43263 non-null  object
 22  TopicTypeId                 43341 non-null  object
 23  TopicId                     43341 non-null  object
 24  MeasureId                   43341 non-null  object
 25  StratificationID1           43341 non-null  object
 26  StratificationID2           43341 non-null  object
 27  StratificationID3           43341 non-null  object
 28  StratificationID4           43341 non-null  object
 29  SubMeasureID                43341 non-null  object
 30  DisplayOrder                43341 non-null  int64
dtypes: float64(5), int64(1), object(25)
memory usage: 10.3+ MB

In [4]:
df.describe()

,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,DisplayOrder
count,41224.000000,41146.000000,41146.000000,41146.000000,41146.000000,43341.000000
mean,25.355041,1.710589,22.010864,28.679347,3050.171171,47.079278
std,25.002587,1.715646,24.135141,26.209196,3798.872768,24.494487
min,0.000000,0.000000,0.000000,0.000000,50.000000,5.000000
25%,5.100000,0.600000,3.200000,6.900000,480.000000,24.000000
50%,17.100000,1.100000,14.300000,19.800000,1798.000000,51.000000
75%,38.900000,2.200000,30.500000,47.400000,4203.000000,71.000000
max,99.900000,16.600000,99.800000,100.000000,40726.000000,81.000000

Data Cleaning

In [ ]:
filtered_df=df.filter(['YEAR','LocationDesc','TopicDesc','MeasureDesc','Response','Data_Value','Data_Value_Std_Err','Low_Confidence_Limit','High_Confidence_Limit','Sample_Size','Gender','Race','Age','Education','GeoLocation'])